Repository comic/grand-challenge.org, pull requests merged in 2019-12, with the labels that each got.

#1005 Add option to request viewing rights for algorithms
  app/config/settings.py
  app/grandchallenge/algorithms/emails.py
  app/grandchallenge/algorithms/forms.py
  app/grandchallenge/algorithms/migrations/0015_algorithmpermissionrequest.py
  app/grandchallenge/algorithms/models.py
  app/grandchallenge/algorithms/signals.py
  app/grandchallenge/algorithms/templates/algorithms/algorithm_detail.html
  app/grandchallenge/algorithms/templates/algorithms/algorithmpermissionrequest_form.html
  app/grandchallenge/algorithms/templates/algorithms/algorithmpermissionrequest_list.html
  app/grandchallenge/algorithms/templates/algorithms/emails/access_denied.html
  app/grandchallenge/algorithms/templates/algorithms/emails/access_granted.html
  app/grandchallenge/algorithms/templates/algorithms/emails/access_request.html
  app/grandchallenge/algorithms/urls.py
  app/grandchallenge/algorithms/views.py
  app/grandchallenge/core/models.py
  app/grandchallenge/participants/models.py
  app/tests/algorithms_tests/factories.py
  app/tests/algorithms_tests/test_forms.py
  app/tests/algorithms_tests/test_permissions.py
  app/tests/algorithms_tests/test_signals.py
  app/tests/algorithms_tests/test_views.py
Labels: includes-migration

#1022 Update dependencies
  docs/requirements.txt
  poetry.lock
  pyproject.toml
Labels: do-not-merge

#1029 Add additional algorithm metadata fields
  app/grandchallenge/algorithms/migrations/0016_auto_20191205_1417.py
  app/grandchallenge/algorithms/models.py
  app/grandchallenge/algorithms/templates/algorithms/algorithm_detail.html
Labels: includes-migration

#1039 Change LandmarkAnnotationSet endpoint and add custom action
  app/grandchallenge/api/urls.py
  app/grandchallenge/retina_api/filters.py
  app/grandchallenge/retina_api/urls.py
  app/grandchallenge/retina_api/views.py
  app/tests/annotations_tests/factories.py
  app/tests/conftest.py
  app/tests/retina_api_tests/test_viewsets.py
  app/tests/viewset_helpers.py
Labels: area/api, area/ophthalmology-workstation

#1040 Fix HTTP 500 error when invalid UUID is passed
  app/grandchallenge/retina_api/views.py
  app/tests/retina_api_tests/test_viewsets.py
Labels: area/api

#1041 Create policies app
  app/config/settings.py
  app/config/urls.py
  app/grandchallenge/algorithms/forms.py
  app/grandchallenge/algorithms/migrations/0017_algorithm_additional_terms.py
  app/grandchallenge/algorithms/models.py
  app/grandchallenge/algorithms/templates/algorithms/algorithm_execution_session_create.html
  app/grandchallenge/api/urls.py
  app/grandchallenge/core/context_processors.py
  app/grandchallenge/core/templates/grandchallenge/partials/footer.html
  app/grandchallenge/core/templatetags/remove_whitespace.py
  app/grandchallenge/policies/__init__.py
  app/grandchallenge/policies/admin.py
  app/grandchallenge/policies/migrations/0001_initial.py
  app/grandchallenge/policies/migrations/__init__.py
  app/grandchallenge/policies/models.py
  app/grandchallenge/policies/templates/policies/policy_detail.html
  app/grandchallenge/policies/urls.py
  app/grandchallenge/policies/views.py
  app/grandchallenge/profiles/forms.py
  app/grandchallenge/profiles/templates/profiles/pre_social_form.html
  app/grandchallenge/profiles/templates/userena/signin_form.html
  app/grandchallenge/profiles/urls.py
  app/grandchallenge/profiles/views.py
  app/grandchallenge/subdomains/utils.py
  app/tests/core_tests/integration_tests.py
  app/tests/factories.py
  app/tests/policies_tests/__init__.py
  app/tests/policies_tests/test_views.py
  app/tests/profiles_tests/test_views.py
Labels: includes-migration
