Repository comic/grand-challenge.org, changes with the owners that CODEOWNERS names for each.
All owners: @jmsmkn, @HarmvZ, @amickan

CODEOWNERS:

# The default owners for everything in
# the repo. Unless a later match takes precedence,
# @jmsmkn will be requested for review when someone
# opens a pull request.
*       @jmsmkn

# When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
*.js    @HarmvZ

# Owners of specific Django applications
/app/grandchallenge/algorithms/       @amickan
/app/grandchallenge/api/              @HarmvZ
/app/grandchallenge/challenges/       @amickan
/app/grandchallenge/components/       @jmsmkn
/app/grandchallenge/evaluation/       @amickan
/app/grandchallenge/reader_studies/   @amickan
/app/grandchallenge/retina_api/       @HarmvZ
/app/grandchallenge/products/         @jmsmkn
/app/grandchallenge/workstations/     @jmsmkn

Fix test
  app/tests/pages_tests/test_pages.py
Owners: @jmsmkn

Remove duplicate interface values server side
  app/grandchallenge/reader_studies/static/reader_studies/js/remove_hidden_input_fields.js
  app/grandchallenge/reader_studies/templates/reader_studies/display_set_interface_create.html
  app/grandchallenge/reader_studies/views.py
Owners: @amickan

Automated dependency update
  poetry.lock
Owners: @jmsmkn

deploy: 0af1b1504f0aa1273c306425ff232a387f8bfbd4
  reader-studies.html
  workstations.html
Owners: @jmsmkn

Add minio.localhost to the workstation hosts
  app/grandchallenge/components/backends/docker.py
Owners: @jmsmkn

Save algorithm count not pks in cache
  app/grandchallenge/challenges/tasks.py
  app/grandchallenge/evaluation/tasks.py
  app/tests/challenges_tests/test_tasks.py
  app/tests/pages_tests/test_pages.py
Owners: @amickan, @jmsmkn

Use evaluation worker for workstations
  docker-compose.yml
Owners: @jmsmkn

Challenge cost overview (#2710)
  Makefile
  app/config/settings.py
  app/grandchallenge/challenges/migrations/0025_auto_20230112_1003.py
  app/grandchallenge/challenges/models.py
  app/grandchallenge/challenges/tasks.py
  app/grandchallenge/challenges/templates/challenges/challenge_cost_row.html
  app/grandchallenge/challenges/templates/challenges/challenge_costs_overview.html
  app/grandchallenge/challenges/templates/challenges/challenge_costs_per_phase.html
  app/grandchallenge/challenges/templates/challenges/challenge_costs_per_year.html
  app/grandchallenge/challenges/templates/challenges/challenge_topbar.html
  app/grandchallenge/challenges/templates/challenges/year_cost_row.html
  app/grandchallenge/challenges/urls.py
  app/grandchallenge/challenges/views.py
  app/grandchallenge/core/templatetags/divide_by.py
  app/grandchallenge/evaluation/tasks.py
  app/grandchallenge/pages/templates/pages/challenge_statistics.html
  app/grandchallenge/pages/templates/pages/phase_costs_partial.html
  app/grandchallenge/pages/views.py
  app/tests/challenges_tests/test_tasks.py
  app/tests/challenges_tests/test_views.py
  app/tests/pages_tests/test_pages.py
  scripts/cost_fixtures.py
Owners: @jmsmkn, @amickan

Remove duplicate interface values on form clean
  app/grandchallenge/reader_studies/forms.py
  app/grandchallenge/reader_studies/views.py
Owners: @amickan

add docker config
  docker-compose.yml
Owners: @jmsmkn

revert
  docker-compose.yml
Owners: @jmsmkn

Handle single interface values
  app/grandchallenge/reader_studies/forms.py
Owners: @amickan

Change interface input field name to interface_slug
  app/grandchallenge/cases/templates/cases/flexible_image_widget.html
  app/grandchallenge/cases/templates/cases/image-search-widget.html
  app/grandchallenge/cases/views.py
  app/grandchallenge/reader_studies/forms.py
  app/grandchallenge/reader_studies/templates/reader_studies/display_set_interface_create.html
  app/grandchallenge/reader_studies/views.py
Owners: @jmsmkn, @amickan

Selective copy of relevant base code from private
  app/grandchallenge/algorithms/templates/algorithms/job_detail.html
  app/grandchallenge/algorithms/templates/algorithms/job_list.html
  app/grandchallenge/algorithms/templates/algorithms/job_list_row.html
  app/grandchallenge/archives/templates/archives/archive_cases_list.html
  app/grandchallenge/archives/templates/archives/archive_cases_row.html
  app/grandchallenge/archives/templates/archives/archive_items_list.html
  app/grandchallenge/archives/templates/archives/archive_items_row.html
  app/grandchallenge/reader_studies/templates/reader_studies/display_set_detail.html
  app/grandchallenge/reader_studies/templates/reader_studies/readerstudy_detail.html
  app/grandchallenge/reader_studies/templates/reader_studies/readerstudy_images_list.html
  app/grandchallenge/reader_studies/templates/reader_studies/readerstudy_images_row.html
  app/grandchallenge/reader_studies/templates/reader_studies/readerstudy_progress.html
  app/grandchallenge/reader_studies/templates/reader_studies/readerstudy_statistics.html
  app/grandchallenge/workstations/static/workstations/js/session-control.js
Owners: @amickan, @jmsmkn

Update tests
  app/tests/cases_tests/test_views.py
  app/tests/cases_tests/test_widget.py
Owners: @jmsmkn

Fix total cost calculation per phase
  app/grandchallenge/challenges/templates/challenges/challenge_cost_row.html
  app/grandchallenge/challenges/templates/challenges/challenge_costs_overview.html
  app/grandchallenge/challenges/templates/challenges/challenge_costs_per_year.html
  app/grandchallenge/challenges/templates/challenges/year_cost_row.html
  app/grandchallenge/challenges/views.py
Owners: @amickan

Paginate the challenge request list view
  app/grandchallenge/challenges/templates/challenges/challengerequest_list.html
Owners: @amickan

Fix workstaion development environment (#2741)
  app/grandchallenge/components/backends/docker.py
  docker-compose.yml
Owners: @jmsmkn

Fix total cost calculation per challenge (#2744)
  app/grandchallenge/challenges/templates/challenges/challenge_cost_row.html
  app/grandchallenge/challenges/templates/challenges/challenge_costs_overview.html
  app/grandchallenge/challenges/templates/challenges/challenge_costs_per_year.html
  app/grandchallenge/challenges/templates/challenges/year_cost_row.html
  app/grandchallenge/challenges/views.py
Owners: @amickan

Paginate the challenge request list view (#2745)
  app/grandchallenge/challenges/templates/challenges/challengerequest_list.html
Owners: @amickan

Fix partially unanswered Display Set filtering (#2738)
  app/grandchallenge/reader_studies/views.py
  app/tests/reader_studies_tests/test_api.py
Owners: @amickan, @jmsmkn

Flexible image widget (#2716)
  app/grandchallenge/algorithms/views.py
  app/grandchallenge/archives/tasks.py
  app/grandchallenge/archives/views.py
  app/grandchallenge/cases/static/js/cases/flexible_image_widget.js
  app/grandchallenge/cases/static/js/cases/ignore_enter_button.js
  app/grandchallenge/cases/templates/cases/flexible_image_widget.html
  app/grandchallenge/cases/templates/cases/image-search-widget.html
  app/grandchallenge/cases/templates/cases/image_search_result_select.html
  app/grandchallenge/cases/urls.py
  app/grandchallenge/cases/views.py
  app/grandchallenge/cases/widgets.py
  app/grandchallenge/components/form_fields.py
  app/grandchallenge/components/models.py
  app/grandchallenge/reader_studies/forms.py
  app/grandchallenge/reader_studies/tasks.py
  app/grandchallenge/reader_studies/templates/reader_studies/display_set_create.html
  app/grandchallenge/reader_studies/templates/reader_studies/display_set_interface_create.html
  app/grandchallenge/reader_studies/views.py
  app/grandchallenge/uploads/templates/uploads/widget.html
  app/tests/algorithms_tests/test_forms.py
  app/tests/algorithms_tests/test_views.py
  app/tests/archives_tests/test_views.py
  app/tests/cases_tests/test_views.py
  app/tests/cases_tests/test_widget.py
  app/tests/components_tests/test_forms.py
  app/tests/reader_studies_tests/test_forms.py
  app/tests/reader_studies_tests/test_views.py
Owners: @amickan, @jmsmkn, @HarmvZ

deploy: 2432e90adc010b8f57669082eb0e56384f81d3a3
  _modules/grandchallenge/components/models.html
Owners: @jmsmkn

Add workstation default brush size and annotation color
  app/grandchallenge/core/fields.py
  app/grandchallenge/workstation_configs/forms.py
  app/grandchallenge/workstation_configs/migrations/0020_auto_20230116_1358.py
  app/grandchallenge/workstation_configs/models.py
  app/grandchallenge/workstation_configs/serializers.py
  app/grandchallenge/workstation_configs/templates/workstation_configs/workstationconfig_detail.html
Owners: @jmsmkn

Install jscolor 2.5.1
  app/grandchallenge/core/static/vendored/jscolor/jscolor.js
  app/grandchallenge/core/static/vendored/jscolor/jscolor.min.js
Owners: @HarmvZ

Install jscolor 2.5.1
  app/grandchallenge/core/static/vendored/jscolor/LICENSE
Owners: @jmsmkn

Add coloreditor widget for default annotation color
  app/grandchallenge/core/static/js/coloreditor_widget.js
  app/grandchallenge/core/templates/coloreditor/coloreditor_widget.html
  app/grandchallenge/core/widgets.py
  app/grandchallenge/workstation_configs/forms.py
Owners: @HarmvZ, @jmsmkn

Use amass to manage jscolor
  amass.lock
  app/grandchallenge/core/static/vendored/jscolor/LICENSE
  app/grandchallenge/core/static/vendored/jscolor/jscolor.js
  app/grandchallenge/core/static/vendored/jscolor/jscolor.min.js
  poetry.lock
  pyproject.toml
Owners: @jmsmkn, @HarmvZ

Remove model name from window-identifier
  app/grandchallenge/algorithms/templates/algorithms/job_detail.html
  app/grandchallenge/algorithms/templates/algorithms/job_list_row.html
  app/grandchallenge/archives/templates/archives/archive_cases_row.html
  app/grandchallenge/archives/templates/archives/archive_items_row.html
  app/grandchallenge/reader_studies/templates/reader_studies/readerstudy_images_row.html
  app/grandchallenge/reader_studies/templates/reader_studies/readerstudy_progress.html
Owners: @amickan, @jmsmkn

Move workstation config CSS to core (was in template)
  app/grandchallenge/core/static/css/core.css
  app/grandchallenge/workstation_configs/templates/workstation_configs/workstationconfig_detail.html
Owners: @jmsmkn

Lower minimum brush size from 1um to 1nm
  app/grandchallenge/workstation_configs/migrations/0020_auto_20230116_1358.py
  app/grandchallenge/workstation_configs/models.py
Owners: @jmsmkn

Improve docstring
  app/grandchallenge/core/widgets.py
Owners: @jmsmkn

Improve color-editor widget context generation.
  app/grandchallenge/core/templates/coloreditor/coloreditor_widget.html
  app/grandchallenge/core/widgets.py
Owners: @jmsmkn

Add Alpha-Version Workstation Session Control (#2743)
  app/grandchallenge/algorithms/templates/algorithms/job_detail.html
  app/grandchallenge/algorithms/templates/algorithms/job_list.html
  app/grandchallenge/algorithms/templates/algorithms/job_list_row.html
  app/grandchallenge/archives/templates/archives/archive_cases_list.html
  app/grandchallenge/archives/templates/archives/archive_cases_row.html
  app/grandchallenge/archives/templates/archives/archive_items_list.html
  app/grandchallenge/archives/templates/archives/archive_items_row.html
  app/grandchallenge/reader_studies/templates/reader_studies/display_set_detail.html
  app/grandchallenge/reader_studies/templates/reader_studies/readerstudy_detail.html
  app/grandchallenge/reader_studies/templates/reader_studies/readerstudy_images_list.html
  app/grandchallenge/reader_studies/templates/reader_studies/readerstudy_images_row.html
  app/grandchallenge/reader_studies/templates/reader_studies/readerstudy_progress.html
  app/grandchallenge/reader_studies/templates/reader_studies/readerstudy_statistics.html
  app/grandchallenge/workstations/static/workstations/js/session-control.js
Owners: @amickan, @jmsmkn

Workstation annotation style options (#2742)
  amass.lock
  app/grandchallenge/core/fields.py
  app/grandchallenge/core/static/css/core.css
  app/grandchallenge/core/static/js/coloreditor_widget.js
  app/grandchallenge/core/static/vendored/jscolor/jscolor.js
  app/grandchallenge/core/static/vendored/jscolor/jscolor.min.js
  app/grandchallenge/core/templates/coloreditor/coloreditor_widget.html
  app/grandchallenge/core/widgets.py
  app/grandchallenge/workstation_configs/forms.py
  app/grandchallenge/workstation_configs/migrations/0020_auto_20230116_1358.py
  app/grandchallenge/workstation_configs/models.py
  app/grandchallenge/workstation_configs/serializers.py
  app/grandchallenge/workstation_configs/templates/workstation_configs/workstationconfig_detail.html
  poetry.lock
  pyproject.toml
Owners: @jmsmkn, @HarmvZ

Add active sessions api endpoint
  app/grandchallenge/workstations/serializers.py
  app/grandchallenge/workstations/views.py
Owners: @jmsmkn

Check for active sesssions and dynamically construct session origin
  app/grandchallenge/algorithms/templates/algorithms/job_detail.html
  app/grandchallenge/algorithms/templates/algorithms/job_list_row.html
  app/grandchallenge/archives/templates/archives/archive_cases_row.html
  app/grandchallenge/archives/templates/archives/archive_items_row.html
  app/grandchallenge/reader_studies/templates/reader_studies/display_set_detail.html
  app/grandchallenge/reader_studies/templates/reader_studies/readerstudy_detail.html
  app/grandchallenge/reader_studies/templates/reader_studies/readerstudy_progress.html
  app/grandchallenge/reader_studies/templates/reader_studies/readerstudy_statistics.html
  app/grandchallenge/workstations/static/workstations/js/session-control.js
Owners: @amickan, @jmsmkn

Add test for active sessions endpoint
  app/tests/workstations_tests/test_api.py
Owners: @jmsmkn

Retrieve region from latest active session
  app/grandchallenge/workstations/static/workstations/js/session-control.js
Owners: @jmsmkn

Add playwright
  app/tests/core_tests/test_playwright.py
  dockerfiles/web-base/Dockerfile
  poetry.lock
  pyproject.toml
Owners: @jmsmkn
