Repository comic/grand-challenge.org, changes with the owners that CODEOWNERS names for each.
All owners: @jmsmkn, @HarmvZ, @miriam-groeneveld, @MikeOverkamp-diag

CODEOWNERS:

# The default owners for everything in
# the repo. Unless a later match takes precedence,
# @jmsmkn will be requested for review when someone
# opens a pull request.
*       @jmsmkn

# When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
*.js    @HarmvZ

# Owners of specific Django applications
/app/grandchallenge/algorithms/       @miriam-groeneveld
/app/grandchallenge/api/              @HarmvZ
/app/grandchallenge/challenges/       @jmsmkn
/app/grandchallenge/components/       @miriam-groeneveld
/app/grandchallenge/evaluation/       @jmsmkn
/app/grandchallenge/reader_studies/   @MikeOverkamp-diag
/app/grandchallenge/retina_api/       @HarmvZ
/app/grandchallenge/retina_core/      @HarmvZ
/app/grandchallenge/products/         @MikeOverkamp-diag
/app/grandchallenge/workstations/     @jmsmkn

chanegd related name for tags, added author filter to list view
  app/grandchallenge/blogs/filters.py
  app/grandchallenge/blogs/migrations/0004_auto_20210611_1359.py
  app/grandchallenge/blogs/models.py
  app/grandchallenge/blogs/templates/blogs/post_detail.html
Owners: @jmsmkn

added content text search
  app/grandchallenge/blogs/filters.py
Owners: @jmsmkn

Add citing info and company explainer (#1874)
  app/grandchallenge/products/templates/products/about.html
  app/grandchallenge/products/templates/products/company_list.html
Owners: @MikeOverkamp-diag

fixed author filter queryset
  app/grandchallenge/blogs/filters.py
Owners: @jmsmkn

Replace google geochart with vega lite
  app/config/settings.py
  app/grandchallenge/core/context_processors.py
  app/grandchallenge/core/static/js/render_geocharts.js
  app/grandchallenge/core/templates/grandchallenge/partials/geochart.html
  app/grandchallenge/pages/models.py
  app/grandchallenge/pages/templates/pages/page_detail.html
  app/grandchallenge/statistics/templates/statistics/statistics_detail.html
  app/grandchallenge/statistics/views.py
Owners: @jmsmkn, @HarmvZ

Use log scale
  app/grandchallenge/core/static/js/render_geocharts.js
Owners: @HarmvZ

WIP Replace chart.js with vega lite
  app/grandchallenge/core/templates/grandchallenge/partials/script.html
  app/grandchallenge/statistics/static/js/statistics/render_barchart.js
  app/grandchallenge/statistics/templates/statistics/statistics_detail.html
  package.json
Owners: @jmsmkn, @HarmvZ

Replace chart.js with vega lite
  app/grandchallenge/core/static/js/render_geocharts.js
  app/grandchallenge/core/static/js/sort_tables.js
  app/grandchallenge/pages/templates/pages/page_detail.html
  app/grandchallenge/statistics/static/js/statistics/render_barchart.js
  app/grandchallenge/statistics/templates/statistics/statistics_detail.html
  app/grandchallenge/statistics/views.py
Owners: @HarmvZ, @jmsmkn

Add link to challenge from bar chart
  app/grandchallenge/statistics/static/js/statistics/render_barchart.js
  app/grandchallenge/statistics/views.py
Owners: @HarmvZ, @jmsmkn

Fix tests
  app/tests/pages_tests/test_substitutions.py
  app/tests/statistics_tests/test_views.py
Owners: @jmsmkn

Only get the vega sources if we have a chart
  app/grandchallenge/pages/models.py
  app/grandchallenge/pages/templates/pages/page_detail.html
  app/grandchallenge/pages/views.py
  app/tests/pages_tests/test_substitutions.py
Owners: @jmsmkn

Add Django Permissions Policy
  app/config/settings.py
  poetry.lock
  pyproject.toml
Owners: @jmsmkn

Replace google maps and chart js with vega lite (#1876)
  app/config/settings.py
  app/grandchallenge/core/context_processors.py
  app/grandchallenge/core/static/js/render_geocharts.js
  app/grandchallenge/core/static/js/sort_tables.js
  app/grandchallenge/core/templates/grandchallenge/partials/geochart.html
  app/grandchallenge/core/templates/grandchallenge/partials/script.html
  app/grandchallenge/pages/models.py
  app/grandchallenge/pages/templates/pages/page_detail.html
  app/grandchallenge/pages/views.py
  app/grandchallenge/statistics/static/js/statistics/render_barchart.js
  app/grandchallenge/statistics/templates/statistics/statistics_detail.html
  app/grandchallenge/statistics/views.py
  app/tests/pages_tests/test_substitutions.py
  app/tests/statistics_tests/test_views.py
  package.json
Owners: @jmsmkn, @HarmvZ

made tags optional, adjusted detail template
  app/grandchallenge/blogs/migrations/0004_auto_20210614_0734.py
  app/grandchallenge/blogs/models.py
  app/grandchallenge/blogs/templates/blogs/post_detail.html
Owners: @jmsmkn

Tags for blog posts (#1873)
  app/grandchallenge/blogs/admin.py
  app/grandchallenge/blogs/filters.py
  app/grandchallenge/blogs/migrations/0004_auto_20210614_0734.py
  app/grandchallenge/blogs/models.py
  app/grandchallenge/blogs/templates/blogs/post_detail.html
  app/grandchallenge/blogs/templates/blogs/post_list.html
  app/grandchallenge/blogs/views.py
Owners: @jmsmkn

fixed error in prefetch function, refactored permission code in list view
  app/grandchallenge/notifications/utils.py
  app/grandchallenge/notifications/views.py
Owners: @jmsmkn

updated notification model and admin, changed subscription view names to follow
  app/grandchallenge/notifications/admin.py
  app/grandchallenge/notifications/migrations/0001_initial.py
  app/grandchallenge/notifications/models.py
  app/grandchallenge/notifications/urls.py
  app/grandchallenge/notifications/views.py
Owners: @jmsmkn

updated profile model, follow templates, notification list view
  app/grandchallenge/notifications/templates/actstream/follow_list.html
  app/grandchallenge/notifications/templates/actstream/subscription_update_form.html
  app/grandchallenge/notifications/templates/notifications/notification_list.html
  app/grandchallenge/notifications/views.py
  app/grandchallenge/profiles/migrations/0009_remove_userprofile_notifications_last_read_at.py
  app/grandchallenge/profiles/models.py
Owners: @jmsmkn

changed follow delete and create views and respective templates
  app/grandchallenge/forum_conversation/templatetags/forum_extras.py
  app/grandchallenge/forums/templates/board_base.html
  app/grandchallenge/forums/templates/forum/forum_detail.html
  app/grandchallenge/forums/templates/forum_conversation/partials/topic_detail_actions.html
  app/grandchallenge/notifications/forms.py
  app/grandchallenge/notifications/signals.py
  app/grandchallenge/notifications/templates/actstream/follow_form.html
  app/grandchallenge/notifications/templates/actstream/follow_list.html
  app/grandchallenge/notifications/views.py
  app/tests/notifications_tests/test_views.py
Owners: @jmsmkn

fixed emails and topic subscribe template
  app/grandchallenge/forum_conversation/templatetags/forum_extras.py
  app/grandchallenge/forums/templates/forum_conversation/partials/topic_detail_actions.html
  app/grandchallenge/notifications/emails.py
  app/grandchallenge/notifications/tasks.py
Owners: @jmsmkn

Add ground truth to reader study admin
  app/grandchallenge/reader_studies/admin.py
Owners: @MikeOverkamp-diag

Fix barchart ordering and colour
  app/grandchallenge/statistics/static/js/statistics/render_barchart.js
Owners: @HarmvZ

Fix blog post filter link
  app/grandchallenge/blogs/templates/blogs/post_detail.html
Owners: @jmsmkn

updated follow list template and template tags, added oc strings to prefetch function
  app/grandchallenge/challenges/templatetags/forums.py
  app/grandchallenge/notifications/templates/actstream/follow_form.html
  app/grandchallenge/notifications/templates/actstream/follow_list.html
  app/grandchallenge/notifications/templates/notifications/notification_update_form.html
  app/grandchallenge/notifications/urls.py
  app/grandchallenge/notifications/utils.py
  app/grandchallenge/notifications/views.py
Owners: @jmsmkn

Fix colour order
  app/grandchallenge/statistics/static/js/statistics/render_barchart.js
Owners: @HarmvZ

Update archive algorithm permissions
  app/grandchallenge/algorithms/tasks.py
  app/tests/algorithms_tests/test_permissions.py
Owners: @miriam-groeneveld, @jmsmkn

update notification tests
  app/grandchallenge/challenges/templatetags/forums.py
  app/grandchallenge/notifications/templates/actstream/follow_form.html
  app/tests/notifications_tests/test_views.py
  app/tests/profiles_tests/test_models.py
Owners: @jmsmkn

simplify follow list view
  app/grandchallenge/challenges/templatetags/forums.py
  app/grandchallenge/notifications/templates/actstream/follow_list.html
  app/tests/notifications_tests/test_utils.py
Owners: @jmsmkn

added test for prefetch function
  app/tests/notifications_tests/test_utils.py
Owners: @jmsmkn

Adds blog create and update views
  app/grandchallenge/archives/templates/archives/archive_form.html
  app/grandchallenge/blogs/admin.py
  app/grandchallenge/blogs/forms.py
  app/grandchallenge/blogs/templates/blogs/post_form.html
  app/grandchallenge/blogs/templates/blogs/post_list.html
  app/grandchallenge/blogs/urls.py
  app/grandchallenge/blogs/views.py
Owners: @jmsmkn

Add global permissions for post create and edit views
  app/grandchallenge/blogs/filters.py
  app/grandchallenge/blogs/forms.py
  app/grandchallenge/blogs/templates/blogs/post_detail.html
  app/grandchallenge/blogs/templates/blogs/post_list.html
  app/grandchallenge/blogs/views.py
  app/tests/blogs_tests/__init__.py
  app/tests/blogs_tests/factory.py
  app/tests/blogs_tests/test_permissions.py
Owners: @jmsmkn

Add object based permissions for blog posts
  app/grandchallenge/blogs/__init__.py
  app/grandchallenge/blogs/apps.py
  app/grandchallenge/blogs/forms.py
  app/grandchallenge/blogs/signals.py
  app/grandchallenge/blogs/templates/blogs/post_detail.html
  app/grandchallenge/blogs/views.py
  app/tests/blogs_tests/test_permissions.py
  app/tests/blogs_tests/test_signals.py
  app/tests/evaluation_tests/test_permissions.py
Owners: @jmsmkn

Update breadcrumbs with object
  app/grandchallenge/blogs/templates/blogs/post_form.html
Owners: @jmsmkn

Add view post permissions to authors
  app/grandchallenge/blogs/signals.py
  app/tests/blogs_tests/test_signals.py
Owners: @jmsmkn

Adds warning about editing
  app/grandchallenge/blogs/signals.py
  app/grandchallenge/blogs/templates/blogs/post_detail.html
  app/tests/blogs_tests/test_signals.py
Owners: @jmsmkn

improved notification tests
  app/grandchallenge/notifications/signals.py
  app/grandchallenge/notifications/tasks.py
  app/grandchallenge/notifications/templates/actstream/follow_list.html
  app/tests/notifications_tests/factories.py
  app/tests/notifications_tests/test_signals.py
  app/tests/notifications_tests/test_tasks.py
  app/tests/notifications_tests/test_utils.py
  app/tests/notifications_tests/test_views.py
Owners: @jmsmkn
