Repository comic/grand-challenge.org, changes with the owners that CODEOWNERS names for each.
All owners: @jmsmkn, @HarmvZ, @miriam-groeneveld, @MikeOverkamp-diag

CODEOWNERS:

# The default owners for everything in
# the repo. Unless a later match takes precedence,
# @jmsmkn will be requested for review when someone
# opens a pull request.
*       @jmsmkn

# When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
*.js    @HarmvZ

# Owners of specific Django applications
/app/grandchallenge/algorithms/       @miriam-groeneveld
/app/grandchallenge/api/              @HarmvZ
/app/grandchallenge/challenges/       @jmsmkn
/app/grandchallenge/components/       @miriam-groeneveld
/app/grandchallenge/evaluation/       @jmsmkn
/app/grandchallenge/reader_studies/   @MikeOverkamp-diag
/app/grandchallenge/retina_api/       @HarmvZ
/app/grandchallenge/retina_core/      @HarmvZ
/app/grandchallenge/products/         @MikeOverkamp-diag
/app/grandchallenge/workstations/     @jmsmkn

Added tests
  app/grandchallenge/algorithms/serializers.py
  app/grandchallenge/algorithms/views.py
  app/grandchallenge/components/serializers.py
  app/tests/algorithms_tests/test_serializers.py
  app/tests/components_tests/factories.py
  app/tests/components_tests/test_serializers.py
Owners: @miriam-groeneveld, @jmsmkn

Fix tests
  app/tests/algorithms_tests/test_tasks.py
  app/tests/conftest.py
Owners: @jmsmkn

Add domain to deny list
  app/config/settings.py
Owners: @jmsmkn

add blank=true to ce_under, add fa-info to filters
  app/grandchallenge/products/migrations/0006_product_ce_under.py
  app/grandchallenge/products/models.py
  app/grandchallenge/products/templates/products/partials/product_list.html
  app/grandchallenge/products/templates/products/partials/tooltip_CE_MDD_MDR_general.html
  app/grandchallenge/products/templates/products/product_list.html
Owners: @MikeOverkamp-diag

1843 mdd mdr (#1854)
  app/grandchallenge/products/migrations/0006_product_ce_under.py
  app/grandchallenge/products/models.py
  app/grandchallenge/products/templates/products/partials/product_list.html
  app/grandchallenge/products/templates/products/partials/tooltip_CE_MDD_MDR.html
  app/grandchallenge/products/templates/products/partials/tooltip_CE_MDD_MDR_general.html
  app/grandchallenge/products/templates/products/product_detail.html
  app/grandchallenge/products/templates/products/product_list.html
  app/grandchallenge/products/utils.py
  app/grandchallenge/products/views.py
Owners: @MikeOverkamp-diag

PR comments
  app/grandchallenge/components/serializers.py
  app/tests/algorithms_tests/test_serializers.py
  app/tests/components_tests/test_serializers.py
Owners: @miriam-groeneveld, @jmsmkn

add tooltip when product has both MDD and MDR modules
  app/grandchallenge/products/templates/products/partials/tooltip_CE_MDD_MDR.html
Owners: @MikeOverkamp-diag

indent
  app/grandchallenge/products/templates/products/partials/tooltip_CE_MDD_MDR.html
Owners: @MikeOverkamp-diag

Update readerstudy_detail.html
  app/grandchallenge/reader_studies/templates/reader_studies/readerstudy_detail.html
Owners: @MikeOverkamp-diag

test create job
  app/grandchallenge/algorithms/serializers.py
  app/tests/algorithms_tests/test_serializers.py
Owners: @miriam-groeneveld, @jmsmkn

test create job
  app/tests/algorithms_tests/test_serializers.py
Owners: @jmsmkn

add tooltip when product has both MDD and MDR modules (#1857)
  app/grandchallenge/products/templates/products/partials/tooltip_CE_MDD_MDR.html
Owners: @MikeOverkamp-diag

Added basic algorithm for testing
  algorithm.tar.gz
Owners: @jmsmkn

Added global permission Cleaned up interface
  app/grandchallenge/algorithms/apps.py
  app/grandchallenge/components/serializers.py
Owners: @miriam-groeneveld

test create job
  app/tests/algorithms_tests/test_serializers.py
  app/tests/components_tests/test_serializers.py
Owners: @jmsmkn

fix tests
  app/tests/algorithms_tests/test_serializers.py
  app/tests/components_tests/test_serializers.py
Owners: @jmsmkn

fix test
  app/tests/components_tests/test_serializers.py
Owners: @jmsmkn

test create job
  app/algorithm.tar.gz
  app/grandchallenge/algorithms/serializers.py
  app/tests/algorithms_tests/test_serializers.py
Owners: @jmsmkn, @miriam-groeneveld

Use docker buildx
  Makefile
Owners: @jmsmkn

Use docker buildx (#1858)
  Makefile
Owners: @jmsmkn

Move image fixture
  app/tests/conftest.py
  app/tests/core_tests/integration_tests.py
  app/tests/fixtures.py
  scripts/development_fixtures.py
Owners: @jmsmkn

remove file
  algorithm.tar.gz
Owners: @jmsmkn

Added superkind property
  app/grandchallenge/components/models.py
  app/grandchallenge/components/serializers.py
Owners: @miriam-groeneveld

Add support for fds and fda files
  app/grandchallenge/cases/forms.py
  poetry.lock
Owners: @jmsmkn

Add support for fds and fda files (#1859)
  app/grandchallenge/cases/forms.py
  poetry.lock
Owners: @jmsmkn

Protect related fields
  app/grandchallenge/algorithms/migrations/0009_auto_20210601_0802.py
  app/grandchallenge/algorithms/models.py
  app/grandchallenge/archives/migrations/0009_auto_20210601_0802.py
  app/grandchallenge/archives/models.py
  app/grandchallenge/challenges/migrations/0006_auto_20210601_0802.py
  app/grandchallenge/challenges/models.py
  app/grandchallenge/components/migrations/0004_auto_20210601_0802.py
  app/grandchallenge/components/models.py
  app/grandchallenge/evaluation/migrations/0006_auto_20210601_0802.py
  app/grandchallenge/evaluation/models.py
  app/grandchallenge/organizations/migrations/0003_auto_20210601_0802.py
  app/grandchallenge/organizations/models.py
  app/grandchallenge/pages/migrations/0002_auto_20210601_0802.py
  app/grandchallenge/pages/models.py
  app/grandchallenge/reader_studies/migrations/0011_auto_20210601_0802.py
  app/grandchallenge/reader_studies/models.py
  app/grandchallenge/workstations/migrations/0005_auto_20210601_0802.py
  app/grandchallenge/workstations/models.py
Owners: @miriam-groeneveld, @jmsmkn, @MikeOverkamp-diag

Fix tests
  app/grandchallenge/archives/models.py
  app/tests/algorithms_tests/test_models.py
  app/tests/archives_tests/test_models.py
  app/tests/challenges_tests/test_models.py
  app/tests/reader_studies_tests/test_models.py
  app/tests/retina_api_tests/test_views.py
  app/tests/workstations_tests/test_models.py
Owners: @jmsmkn

Fix setting creator
  app/grandchallenge/algorithms/serializers.py
  app/tests/algorithms_tests/test_serializers.py
Owners: @miriam-groeneveld, @jmsmkn

Remove cascade deletion on models (#1861)
  app/grandchallenge/algorithms/migrations/0009_auto_20210601_0802.py
  app/grandchallenge/algorithms/models.py
  app/grandchallenge/archives/migrations/0009_auto_20210601_0802.py
  app/grandchallenge/archives/models.py
  app/grandchallenge/challenges/migrations/0006_auto_20210601_0802.py
  app/grandchallenge/challenges/models.py
  app/grandchallenge/components/migrations/0004_auto_20210601_0802.py
  app/grandchallenge/components/models.py
  app/grandchallenge/evaluation/migrations/0006_auto_20210601_0802.py
  app/grandchallenge/evaluation/models.py
  app/grandchallenge/organizations/migrations/0003_auto_20210601_0802.py
  app/grandchallenge/organizations/models.py
  app/grandchallenge/pages/migrations/0002_auto_20210601_0802.py
  app/grandchallenge/pages/models.py
  app/grandchallenge/reader_studies/migrations/0011_auto_20210601_0802.py
  app/grandchallenge/reader_studies/models.py
  app/grandchallenge/workstations/migrations/0005_auto_20210601_0802.py
  app/grandchallenge/workstations/models.py
  app/tests/algorithms_tests/test_models.py
  app/tests/archives_tests/test_models.py
  app/tests/challenges_tests/test_models.py
  app/tests/reader_studies_tests/test_models.py
  app/tests/retina_api_tests/test_views.py
  app/tests/workstations_tests/test_models.py
Owners: @miriam-groeneveld, @jmsmkn, @MikeOverkamp-diag

Remove deprecated google group embedding
  app/grandchallenge/core/static/js/embed_forums.js
  app/grandchallenge/core/templates/grandchallenge/partials/google_group.html
  app/grandchallenge/pages/models.py
  app/grandchallenge/pages/templates/pages/page_detail.html
  app/tests/pages_tests/test_substitutions.py
Owners: @HarmvZ, @jmsmkn

deploy: 2ba176f027d82aec326c3ea5bb1de1ca645024d6
  _modules/grandchallenge/components/models.html
  _modules/grandchallenge/evaluation/models.html
  _modules/grandchallenge/reader_studies/models.html
  _modules/grandchallenge/workstations/models.html
Owners: @jmsmkn

Move InterfaceFormField to separate component file
  app/grandchallenge/algorithms/forms.py
  app/grandchallenge/components/form_fields.py
Owners: @miriam-groeneveld

Add page admin and history
  app/grandchallenge/pages/admin.py
  app/grandchallenge/pages/migrations/0003_historicalpage.py
  app/grandchallenge/pages/models.py
Owners: @jmsmkn

Add ComponentInterface forms for archives
  app/grandchallenge/archives/forms.py
  app/grandchallenge/archives/templates/archives/archive_item_form.html
Owners: @jmsmkn

Make sure file uploader works for non-required fields
  app/grandchallenge/jqfileupload/widgets/uploader.py
Owners: @jmsmkn

Add tilte property to ComponentInterfaceValue
  app/grandchallenge/components/models.py
Owners: @miriam-groeneveld

Add ArchiveItem list and edit views
  app/grandchallenge/archives/templates/archives/archive_detail.html
  app/grandchallenge/archives/templates/archives/archive_items_list.html
  app/grandchallenge/archives/templates/archives/archive_items_row.html
  app/grandchallenge/archives/urls.py
  app/grandchallenge/archives/views.py
Owners: @jmsmkn

Update archive tasks to work with flexible inputs
  app/grandchallenge/algorithms/tasks.py
  app/grandchallenge/archives/tasks.py
Owners: @miriam-groeneveld, @jmsmkn

Remove google groups and add history to pages (#1862)
  app/grandchallenge/core/static/js/embed_forums.js
  app/grandchallenge/core/templates/grandchallenge/partials/google_group.html
  app/grandchallenge/pages/admin.py
  app/grandchallenge/pages/migrations/0003_historicalpage.py
  app/grandchallenge/pages/models.py
  app/grandchallenge/pages/templates/pages/page_detail.html
  app/tests/pages_tests/test_substitutions.py
Owners: @HarmvZ, @jmsmkn

Fix tests for upload widget
  app/tests/algorithms_tests/test_forms.py
Owners: @jmsmkn
