Repository comic/grand-challenge.org, changes with the owners that CODEOWNERS names for each.
All owners: @jmsmkn, @HarmvZ, @amickan

Remove env variable, clean uo url config
  app/config/settings.py
  app/tests/conftest.py
  app/tests/settings.py
  app/tests/urls/rendering_subdomain.py
  app/tests/urls/root.py
  app/tests/workstations_tests/test_session_control.py
  docker-compose.yml
Owners: @jmsmkn

Extract domain and netloc for template
  app/tests/templates/session_control.html
  app/tests/workstations_tests/test_session_control.py
Owners: @jmsmkn

Remove subdomain from tests
  app/grandchallenge/workstations/static/workstations/js/session-control.js
  app/tests/conftest.py
  app/tests/settings.py
  app/tests/urls/rendering_subdomain.py
  app/tests/urls/root.py
  app/tests/utils.py
  app/tests/workstations_tests/test_session_control.py
Owners: @jmsmkn

Fix url conf test
  app/tests/subdomain_tests/test_middleware.py
Owners: @jmsmkn

Regenerate lock file
  poetry.lock
Owners: @jmsmkn

Name url paths and use reverse
  app/tests/settings.py
  app/tests/templates/session_control.html
  app/tests/templates/workstation.html
  app/tests/urls/root.py
  app/tests/workstations_tests/test_session_control.py
Owners: @jmsmkn

Add debug data setting
  app/grandchallenge/workstations/static/workstations/js/session-control.js
  app/tests/templates/session_control.html
  app/tests/templates/workstation.html
  app/tests/workstations_tests/test_session_control.py
Owners: @jmsmkn

Add test timeout data setting and button
  app/grandchallenge/workstations/static/workstations/js/session-control.js
  app/tests/templates/session_control.html
  app/tests/templates/workstation.html
  app/tests/workstations_tests/test_session_control.py
Owners: @jmsmkn

Change context processor and possible origin creation
  app/config/settings.py
  app/grandchallenge/algorithms/templates/algorithms/job_detail.html
  app/grandchallenge/algorithms/templates/algorithms/job_list.html
  app/grandchallenge/algorithms/templates/algorithms/job_list_row.html
  app/grandchallenge/archives/templates/archives/archive_cases_list.html
  app/grandchallenge/archives/templates/archives/archive_cases_row.html
  app/grandchallenge/archives/templates/archives/archive_items_list.html
  app/grandchallenge/archives/templates/archives/archive_items_row.html
  app/grandchallenge/core/context_processors.py
  app/grandchallenge/reader_studies/templates/reader_studies/display_set_detail.html
  app/grandchallenge/reader_studies/templates/reader_studies/readerstudy_detail.html
  app/grandchallenge/reader_studies/templates/reader_studies/readerstudy_images_list.html
  app/grandchallenge/reader_studies/templates/reader_studies/readerstudy_images_row.html
  app/grandchallenge/reader_studies/templates/reader_studies/readerstudy_progress.html
  app/grandchallenge/reader_studies/templates/reader_studies/readerstudy_statistics.html
  app/grandchallenge/workstations/static/workstations/js/session-control.js
  app/tests/templates/session_control.html
  app/tests/workstations_tests/test_session_control.py
Owners: @jmsmkn, @amickan

Add playwright session control test (#2758)
  app/config/settings.py
  app/grandchallenge/algorithms/templates/algorithms/job_detail.html
  app/grandchallenge/algorithms/templates/algorithms/job_list.html
  app/grandchallenge/algorithms/templates/algorithms/job_list_row.html
  app/grandchallenge/archives/templates/archives/archive_cases_list.html
  app/grandchallenge/archives/templates/archives/archive_cases_row.html
  app/grandchallenge/archives/templates/archives/archive_items_list.html
  app/grandchallenge/archives/templates/archives/archive_items_row.html
  app/grandchallenge/core/context_processors.py
  app/grandchallenge/reader_studies/templates/reader_studies/display_set_detail.html
  app/grandchallenge/reader_studies/templates/reader_studies/readerstudy_detail.html
  app/grandchallenge/reader_studies/templates/reader_studies/readerstudy_images_list.html
  app/grandchallenge/reader_studies/templates/reader_studies/readerstudy_images_row.html
  app/grandchallenge/reader_studies/templates/reader_studies/readerstudy_progress.html
  app/grandchallenge/reader_studies/templates/reader_studies/readerstudy_statistics.html
  app/grandchallenge/workstations/static/workstations/js/session-control.js
  app/tests/core_tests/test_playwright.py
  app/tests/settings.py
  app/tests/subdomain_tests/test_middleware.py
  app/tests/templates/new_session.html
  app/tests/templates/session_control.html
  app/tests/templates/workstation.html
  app/tests/urls/__init__.py
  app/tests/urls/root.py
  app/tests/workstations_tests/test_session_control.py
Owners: @jmsmkn, @amickan

Change domains to workstation_domanis
  app/grandchallenge/algorithms/templates/algorithms/job_detail.html
  app/grandchallenge/algorithms/templates/algorithms/job_list.html
  app/grandchallenge/archives/templates/archives/archive_cases_list.html
  app/grandchallenge/archives/templates/archives/archive_items_list.html
  app/grandchallenge/core/context_processors.py
  app/grandchallenge/reader_studies/templates/reader_studies/readerstudy_detail.html
  app/grandchallenge/reader_studies/templates/reader_studies/readerstudy_images_list.html
  app/grandchallenge/reader_studies/templates/reader_studies/readerstudy_progress.html
  app/grandchallenge/reader_studies/templates/reader_studies/readerstudy_statistics.html
  app/tests/templates/session_control.html
Owners: @amickan, @jmsmkn

Check for active sessions (#2746)
  app/config/settings.py
  app/grandchallenge/algorithms/templates/algorithms/job_detail.html
  app/grandchallenge/algorithms/templates/algorithms/job_list.html
  app/grandchallenge/algorithms/templates/algorithms/job_list_row.html
  app/grandchallenge/archives/templates/archives/archive_cases_list.html
  app/grandchallenge/archives/templates/archives/archive_cases_row.html
  app/grandchallenge/archives/templates/archives/archive_items_list.html
  app/grandchallenge/archives/templates/archives/archive_items_row.html
  app/grandchallenge/core/context_processors.py
  app/grandchallenge/reader_studies/templates/reader_studies/display_set_detail.html
  app/grandchallenge/reader_studies/templates/reader_studies/readerstudy_detail.html
  app/grandchallenge/reader_studies/templates/reader_studies/readerstudy_images_list.html
  app/grandchallenge/reader_studies/templates/reader_studies/readerstudy_images_row.html
  app/grandchallenge/reader_studies/templates/reader_studies/readerstudy_progress.html
  app/grandchallenge/reader_studies/templates/reader_studies/readerstudy_statistics.html
  app/grandchallenge/workstations/static/workstations/js/session-control.js
  app/tests/core_tests/test_playwright.py
  app/tests/settings.py
  app/tests/subdomain_tests/test_middleware.py
  app/tests/templates/new_session.html
  app/tests/templates/session_control.html
  app/tests/templates/workstation.html
  app/tests/urls/__init__.py
  app/tests/urls/root.py
  app/tests/workstations_tests/test_session_control.py
Owners: @jmsmkn, @amickan

Add environment variable for session control timeout
  app/config/settings.py
  app/grandchallenge/algorithms/templates/algorithms/job_detail.html
  app/grandchallenge/algorithms/templates/algorithms/job_list_row.html
  app/grandchallenge/archives/templates/archives/archive_cases_row.html
  app/grandchallenge/archives/templates/archives/archive_items_row.html
  app/grandchallenge/core/context_processors.py
  app/grandchallenge/reader_studies/templates/reader_studies/display_set_detail.html
  app/grandchallenge/reader_studies/templates/reader_studies/readerstudy_detail.html
  app/grandchallenge/reader_studies/templates/reader_studies/readerstudy_images_row.html
  app/grandchallenge/reader_studies/templates/reader_studies/readerstudy_progress.html
  app/grandchallenge/reader_studies/templates/reader_studies/readerstudy_statistics.html
  app/grandchallenge/workstations/static/workstations/js/session-control.js
  app/tests/templates/session_control.html
Owners: @jmsmkn, @amickan

Add AltClick behavior to session control buttons
  app/grandchallenge/workstations/static/workstations/js/session-control.js
Owners: @jmsmkn

Module scope session-control JS
  app/grandchallenge/algorithms/templates/algorithms/job_detail.html
  app/grandchallenge/algorithms/templates/algorithms/job_list.html
  app/grandchallenge/archives/templates/archives/archive_cases_list.html
  app/grandchallenge/archives/templates/archives/archive_items_list.html
  app/grandchallenge/reader_studies/templates/reader_studies/readerstudy_detail.html
  app/grandchallenge/reader_studies/templates/reader_studies/readerstudy_images_list.html
  app/grandchallenge/reader_studies/templates/reader_studies/readerstudy_progress.html
  app/grandchallenge/reader_studies/templates/reader_studies/readerstudy_statistics.html
  app/grandchallenge/workstations/static/workstations/js/session-control.mjs
  app/tests/templates/session_control.html
Owners: @amickan, @jmsmkn

[Session Control] module scoping JS (#2762)
  app/grandchallenge/algorithms/templates/algorithms/job_detail.html
  app/grandchallenge/algorithms/templates/algorithms/job_list.html
  app/grandchallenge/archives/templates/archives/archive_cases_list.html
  app/grandchallenge/archives/templates/archives/archive_items_list.html
  app/grandchallenge/reader_studies/templates/reader_studies/readerstudy_detail.html
  app/grandchallenge/reader_studies/templates/reader_studies/readerstudy_images_list.html
  app/grandchallenge/reader_studies/templates/reader_studies/readerstudy_progress.html
  app/grandchallenge/reader_studies/templates/reader_studies/readerstudy_statistics.html
  app/grandchallenge/workstations/static/workstations/js/session-control.mjs
  app/tests/templates/session_control.html
Owners: @amickan, @jmsmkn

Add spinner to button and delay focussing window
  app/grandchallenge/workstations/static/workstations/js/session-control.mjs
Owners: @jmsmkn

Add test for wrong ack id
  app/grandchallenge/workstations/static/workstations/js/session-control.mjs
  app/tests/templates/session_control.html
  app/tests/templates/workstation.html
  app/tests/workstations_tests/test_session_control.py
Owners: @jmsmkn

Move window focussing and spinner removal to ackCallback
  app/grandchallenge/workstations/static/workstations/js/session-control.mjs
Owners: @jmsmkn

Select spinner by class name
  app/grandchallenge/workstations/static/workstations/js/session-control.mjs
Owners: @jmsmkn

Add spinner while waiting for session control hooks to run (#2763)
  app/grandchallenge/workstations/static/workstations/js/session-control.mjs
Owners: @jmsmkn

Add test for wrong session control ack (#2764)
  app/grandchallenge/workstations/static/workstations/js/session-control.mjs
  app/tests/templates/session_control.html
  app/tests/templates/workstation.html
  app/tests/workstations_tests/test_session_control.py
Owners: @jmsmkn

Use template tag for workstation session control data
  app/config/settings.py
  app/grandchallenge/algorithms/templates/algorithms/job_detail.html
  app/grandchallenge/algorithms/templates/algorithms/job_list_row.html
  app/grandchallenge/archives/templates/archives/archive_cases_row.html
  app/grandchallenge/archives/templates/archives/archive_items_row.html
  app/grandchallenge/reader_studies/templates/reader_studies/display_set_detail.html
  app/grandchallenge/reader_studies/templates/reader_studies/readerstudy_detail.html
  app/grandchallenge/reader_studies/templates/reader_studies/readerstudy_images_row.html
  app/grandchallenge/reader_studies/templates/reader_studies/readerstudy_progress.html
  app/grandchallenge/reader_studies/templates/reader_studies/readerstudy_statistics.html
  app/grandchallenge/workstations/static/workstations/js/session-control.mjs
  app/grandchallenge/workstations/templatetags/workstations.py
Owners: @jmsmkn, @amickan

Update dependency-update.yml
  .github/workflows/dependency-update.yml
Owners: @jmsmkn

Update dependencies
  poetry.lock
Owners: @jmsmkn

Make sure session control hooks are initialized after datatables and htmx reloads
  app/grandchallenge/workstations/static/workstations/js/session-control.mjs
Owners: @jmsmkn

Rework workstation_session_control_data template tag
  app/grandchallenge/cases/templates/cases/rawimageuploadsession_detail.html
  app/grandchallenge/cases/views.py
  app/grandchallenge/reader_studies/models.py
  app/grandchallenge/workstations/templates/workstations/session-control-data.html
  app/grandchallenge/workstations/templatetags/workstations.py
  app/tests/workstations_tests/test_templatetags.py
Owners: @jmsmkn, @amickan

Set up observer on dt init not on every draw
  app/grandchallenge/workstations/static/workstations/js/session-control.mjs
Owners: @jmsmkn

Add test for workstation_session_control_data template tag
  app/tests/workstations_tests/test_templatetags.py
Owners: @jmsmkn

Disable button while function is running
  app/grandchallenge/workstations/static/workstations/js/session-control.mjs
Owners: @jmsmkn

Fix workstation tag test
  app/tests/workstations_tests/test_templatetags.py
Owners: @jmsmkn

Use partial for session control js inclusion
  app/grandchallenge/algorithms/templates/algorithms/job_detail.html
  app/grandchallenge/algorithms/templates/algorithms/job_list.html
  app/grandchallenge/archives/templates/archives/archive_cases_list.html
  app/grandchallenge/archives/templates/archives/archive_items_list.html
  app/grandchallenge/cases/templates/cases/rawimageuploadsession_detail.html
  app/grandchallenge/reader_studies/templates/reader_studies/readerstudy_detail.html
  app/grandchallenge/reader_studies/templates/reader_studies/readerstudy_images_list.html
  app/grandchallenge/reader_studies/templates/reader_studies/readerstudy_progress.html
  app/grandchallenge/reader_studies/templates/reader_studies/readerstudy_statistics.html
  app/grandchallenge/workstations/templates/workstations/partials/session-control-data.html
  app/grandchallenge/workstations/templates/workstations/partials/session-control.html
  app/grandchallenge/workstations/templatetags/workstations.py
  app/tests/templates/session_control.html
  app/tests/workstations_tests/test_templatetags.py
Owners: @amickan, @jmsmkn

Ignore B907 for workstation test
  app/tests/workstations_tests/test_templatetags.py
Owners: @jmsmkn

Use django forms widget directly
  app/grandchallenge/workstations/templates/workstations/partials/session-control-data.html
  app/grandchallenge/workstations/templatetags/workstations.py
  app/tests/workstations_tests/test_templatetags.py
Owners: @jmsmkn

Explicitly catch CORS errors and reraise all other errors
  app/grandchallenge/workstations/static/workstations/js/session-control.mjs
Owners: @jmsmkn

Ignore B907
  app/tests/workstations_tests/test_templatetags.py
Owners: @jmsmkn

Add failing test to illustrate double quote issue
  app/grandchallenge/workstations/static/workstations/js/session-control.mjs
  app/tests/templates/rs_workstation_button.html
  app/tests/urls/root.py
  app/tests/workstations_tests/test_templatetags.py
Owners: @jmsmkn

Fix quoting
  app/config/settings.py
  app/grandchallenge/workstations/templatetags/workstations.py
Owners: @jmsmkn

Simplify test
  app/tests/templates/rs_workstation_button.html
  app/tests/templates/workstation_button.html
  app/tests/urls/root.py
  app/tests/workstations_tests/test_templatetags.py
Owners: @jmsmkn

Lock dependencies
  poetry.lock
Owners: @jmsmkn

CODEOWNERS:

# The default owners for everything in
# the repo. Unless a later match takes precedence,
# @jmsmkn will be requested for review when someone
# opens a pull request.
*       @jmsmkn

# When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
*.js    @HarmvZ

# Owners of specific Django applications
/app/grandchallenge/algorithms/       @amickan
/app/grandchallenge/api/              @HarmvZ
/app/grandchallenge/challenges/       @amickan
/app/grandchallenge/components/       @jmsmkn
/app/grandchallenge/evaluation/       @amickan
/app/grandchallenge/reader_studies/   @amickan
/app/grandchallenge/retina_api/       @HarmvZ
/app/grandchallenge/products/         @jmsmkn
/app/grandchallenge/workstations/     @jmsmkn
