Repository comic/grand-challenge.org, changes with the owners that CODEOWNERS names for each.
All owners: @jmsmkn, @HarmvZ, @miriam-groeneveld, @MikeOverkamp-diag

Compare lists instead of querysets
  app/grandchallenge/algorithms/tasks.py
Owners: @miriam-groeneveld

Add job create API endpoint (#1847)
  app/algorithm.tar.gz
  app/grandchallenge/algorithms/apps.py
  app/grandchallenge/algorithms/models.py
  app/grandchallenge/algorithms/serializers.py
  app/grandchallenge/algorithms/views.py
  app/grandchallenge/components/models.py
  app/grandchallenge/components/serializers.py
  app/tests/algorithms_tests/test_serializers.py
  app/tests/algorithms_tests/test_tasks.py
  app/tests/components_tests/factories.py
  app/tests/components_tests/test_serializers.py
  app/tests/conftest.py
Owners: @jmsmkn, @miriam-groeneveld

deploy: 9dc405437433b036b5beb6ea62be35dc49ee1594
  _modules/grandchallenge/components/models.html
  components.html
  genindex.html
  objects.inv
  searchindex.js
Owners: @jmsmkn, @HarmvZ

Add test for ArchiveItem form
  app/tests/archives_tests/test_forms.py
Owners: @jmsmkn

Add test for form post
  app/grandchallenge/algorithms/tasks.py
  app/grandchallenge/archives/views.py
  app/grandchallenge/components/models.py
  app/tests/archives_tests/test_forms.py
Owners: @miriam-groeneveld, @jmsmkn

bulk delete and update options for notification list view, draft version
  app/grandchallenge/notifications/templates/notifications/notification_list.html
  app/grandchallenge/notifications/views.py
  app/tests/notifications_tests/test_views.py
Owners: @jmsmkn

Add separate task to clear ArchiveItemValues
  app/grandchallenge/archives/tasks.py
  app/grandchallenge/archives/views.py
Owners: @jmsmkn

Allow all image types in cases add form
  app/grandchallenge/archives/forms.py
Owners: @jmsmkn

Prefetch archive item values
  app/grandchallenge/archives/views.py
Owners: @jmsmkn

Revert "Add separate task to clear ArchiveItemValues"
  app/grandchallenge/archives/tasks.py
  app/grandchallenge/archives/views.py
Owners: @jmsmkn

Split task into add and remove operations
  app/grandchallenge/archives/tasks.py
  app/grandchallenge/archives/views.py
Owners: @jmsmkn

removed duplicate queries for notification listview
  app/grandchallenge/notifications/utils.py
  app/grandchallenge/notifications/views.py
Owners: @jmsmkn

Split add and remove tasks (#1864)
  app/grandchallenge/archives/tasks.py
  app/grandchallenge/archives/views.py
Owners: @jmsmkn

Add flexible inputs for archives (#1863)
  app/grandchallenge/algorithms/forms.py
  app/grandchallenge/algorithms/tasks.py
  app/grandchallenge/archives/forms.py
  app/grandchallenge/archives/tasks.py
  app/grandchallenge/archives/templates/archives/archive_detail.html
  app/grandchallenge/archives/templates/archives/archive_item_form.html
  app/grandchallenge/archives/templates/archives/archive_items_list.html
  app/grandchallenge/archives/templates/archives/archive_items_row.html
  app/grandchallenge/archives/urls.py
  app/grandchallenge/archives/views.py
  app/grandchallenge/components/form_fields.py
  app/grandchallenge/components/models.py
  app/grandchallenge/jqfileupload/widgets/uploader.py
  app/tests/algorithms_tests/test_forms.py
  app/tests/archives_tests/test_forms.py
Owners: @miriam-groeneveld, @jmsmkn

deploy: 285115053ce3b1e3b2646185cd8779f8a3e2ce54
  _modules/grandchallenge/components/models.html
Owners: @jmsmkn

added subscribe button to topics and forums, link to correct subscription list view
  app/grandchallenge/forum_conversation/templatetags/__init__.py
  app/grandchallenge/forum_conversation/templatetags/forum_extras.py
  app/grandchallenge/forums/templates/board_base.html
  app/grandchallenge/forums/templates/forum/forum_detail.html
  app/grandchallenge/forums/templates/forum_conversation/partials/topic_detail_actions.html
  app/grandchallenge/notifications/forms.py
  app/grandchallenge/notifications/templates/notifications/follow_list.html
  app/grandchallenge/notifications/urls.py
  app/grandchallenge/notifications/views.py
Owners: @jmsmkn

fixed tests after changes to subscription delete view
  app/grandchallenge/forums/templates/forum/forum_detail.html
  app/tests/notifications_tests/test_views.py
Owners: @jmsmkn

deleted user subscription stuff
  app/grandchallenge/notifications/templates/notifications/subscription_list.html
  app/grandchallenge/notifications/urls.py
  app/grandchallenge/notifications/views.py
Owners: @jmsmkn

tests for subscription creation
  app/grandchallenge/notifications/signals.py
  app/tests/notifications_tests/test_views.py
Owners: @jmsmkn

fixed test
  app/grandchallenge/notifications/emails.py
  app/grandchallenge/notifications/tasks.py
  app/tests/notifications_tests/test_views.py
Owners: @jmsmkn

added periodic celery task to send emails about unread notifications
  app/config/settings.py
  app/grandchallenge/notifications/emails.py
  app/grandchallenge/notifications/tasks.py
Owners: @jmsmkn

set action_send to False for all follows
  app/grandchallenge/notifications/forms.py
  app/grandchallenge/notifications/views.py
Owners: @jmsmkn

added notification-email-opt-out, tests for notification emails
  app/config/settings.py
  app/grandchallenge/notifications/emails.py
  app/grandchallenge/notifications/tasks.py
  app/grandchallenge/profiles/forms.py
  app/tests/notifications_tests/test_tasks.py
Owners: @jmsmkn

adjusted breadcrumbs and title for algorithm update view
  app/grandchallenge/algorithms/templates/algorithms/algorithm_form.html
Owners: @miriam-groeneveld

had forgotten to fix title, done now
  app/grandchallenge/algorithms/templates/algorithms/algorithm_form.html
Owners: @miriam-groeneveld

changed model back to boolean read field
  app/grandchallenge/notifications/migrations/0001_initial.py
  app/grandchallenge/notifications/models.py
  app/grandchallenge/notifications/templates/notifications/notification_list.html
  app/grandchallenge/profiles/models.py
  app/tests/profiles_tests/test_models.py
Owners: @jmsmkn

fixed tests and refactored notifcation creation code
  app/grandchallenge/notifications/serializers.py
  app/grandchallenge/notifications/signals.py
Owners: @jmsmkn

added basic notifications model
  app/grandchallenge/notifications/admin.py
  app/grandchallenge/notifications/migrations/0001_initial.py
  app/grandchallenge/notifications/migrations/__init__.py
  app/grandchallenge/notifications/models.py
Owners: @jmsmkn

added tests, fixed permissions for notification update, and optimized template
  app/grandchallenge/notifications/models.py
  app/grandchallenge/notifications/templates/notifications/notification_list.html
  app/grandchallenge/notifications/views.py
  app/tests/notifications_tests/test_signals.py
  app/tests/notifications_tests/test_views.py
Owners: @jmsmkn

notifcation update view added, no tests yet for updating and deleting
  app/grandchallenge/notifications/forms.py
  app/grandchallenge/notifications/models.py
  app/grandchallenge/notifications/templates/notifications/notification_list.html
  app/grandchallenge/notifications/templates/notifications/notification_update_form.html
  app/grandchallenge/notifications/urls.py
  app/grandchallenge/notifications/views.py
Owners: @jmsmkn

queryset optimization
  app/grandchallenge/notifications/templates/notifications/notification_list.html
  app/grandchallenge/notifications/views.py
Owners: @jmsmkn

some refactoring, fix tests
  app/grandchallenge/notifications/migrations/0001_initial.py
  app/grandchallenge/notifications/models.py
  app/grandchallenge/notifications/serializers.py
  app/grandchallenge/notifications/signals.py
  app/grandchallenge/notifications/templates/notifications/notification_list.html
  app/grandchallenge/notifications/views.py
  app/grandchallenge/profiles/models.py
  app/tests/profiles_tests/test_models.py
Owners: @jmsmkn

added a follow list view
  app/grandchallenge/notifications/templates/notifications/follow_list.html
  app/grandchallenge/notifications/templates/notifications/notification_list.html
  app/grandchallenge/notifications/urls.py
  app/grandchallenge/notifications/views.py
Owners: @jmsmkn

notifications are now created upon post and topic creation
  app/grandchallenge/notifications/signals.py
Owners: @jmsmkn

added preliminary unsucscribe option
  app/grandchallenge/notifications/forms.py
  app/grandchallenge/notifications/templates/notifications/notification_list.html
  app/grandchallenge/notifications/views.py
Owners: @jmsmkn

fixed tests and unfollow button
  app/grandchallenge/notifications/forms.py
  app/grandchallenge/notifications/views.py
  app/tests/notifications_tests/test_views.py
Owners: @jmsmkn

adapted notification list view
  app/grandchallenge/notifications/templates/notifications/notification_list.html
  app/grandchallenge/notifications/views.py
  app/grandchallenge/profiles/models.py
Owners: @jmsmkn

added subscribe button to topics and forums, link to correct subscription list view
  app/grandchallenge/forum_conversation/templatetags/__init__.py
  app/grandchallenge/forum_conversation/templatetags/forum_extras.py
  app/grandchallenge/forums/templates/board_base.html
  app/grandchallenge/forums/templates/forum/forum_detail.html
  app/grandchallenge/forums/templates/forum_conversation/partials/topic_detail_actions.html
  app/grandchallenge/notifications/forms.py
  app/grandchallenge/notifications/templates/notifications/follow_list.html
  app/grandchallenge/notifications/urls.py
  app/grandchallenge/notifications/views.py
Owners: @jmsmkn

added unsubscribe buttons for forums and users on subscription list view
  app/grandchallenge/notifications/forms.py
  app/grandchallenge/notifications/templates/notifications/follow_list.html
  app/grandchallenge/notifications/views.py
  app/tests/notifications_tests/test_views.py
Owners: @jmsmkn

added unsubscribe buttons for forums and users on subscription list view
  app/grandchallenge/notifications/forms.py
Owners: @jmsmkn

CODEOWNERS:

# The default owners for everything in
# the repo. Unless a later match takes precedence,
# @jmsmkn will be requested for review when someone
# opens a pull request.
*       @jmsmkn

# When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
*.js    @HarmvZ

# Owners of specific Django applications
/app/grandchallenge/algorithms/       @miriam-groeneveld
/app/grandchallenge/api/              @HarmvZ
/app/grandchallenge/challenges/       @jmsmkn
/app/grandchallenge/components/       @miriam-groeneveld
/app/grandchallenge/evaluation/       @jmsmkn
/app/grandchallenge/reader_studies/   @MikeOverkamp-diag
/app/grandchallenge/retina_api/       @HarmvZ
/app/grandchallenge/retina_core/      @HarmvZ
/app/grandchallenge/products/         @MikeOverkamp-diag
/app/grandchallenge/workstations/     @jmsmkn
