Repository comic/grand-challenge.org, changes with the owners that CODEOWNERS names for each.
All owners: @jmsmkn, @HarmvZ, @amickan

CODEOWNERS:

# The default owners for everything in
# the repo. Unless a later match takes precedence,
# @jmsmkn will be requested for review when someone
# opens a pull request.
*       @jmsmkn

# When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
*.js    @HarmvZ

# Owners of specific Django applications
/app/grandchallenge/algorithms/       @amickan
/app/grandchallenge/api/              @HarmvZ
/app/grandchallenge/challenges/       @amickan
/app/grandchallenge/components/       @jmsmkn
/app/grandchallenge/evaluation/       @amickan
/app/grandchallenge/reader_studies/   @amickan
/app/grandchallenge/retina_api/       @HarmvZ
/app/grandchallenge/products/         @jmsmkn
/app/grandchallenge/workstations/     @jmsmkn

Fix ds file update for default answers
  app/grandchallenge/components/models.py
  app/grandchallenge/reader_studies/views.py
  app/tests/reader_studies_tests/test_views.py
Owners: @jmsmkn, @amickan

Automatically set the required environment
  app/pytest.ini
  app/tests/conftest.py
  app/tests/core_tests/test_playwright.py
  poetry.lock
  pyproject.toml
Owners: @jmsmkn

Turn all cost fields into positive integer fields
  app/grandchallenge/challenges/forms.py
  app/grandchallenge/challenges/migrations/0026_auto_20230123_1406.py
  app/grandchallenge/challenges/models.py
Owners: @amickan

Enable adding json file CIV to display set (#2748)
  app/grandchallenge/components/models.py
  app/grandchallenge/reader_studies/views.py
  app/tests/reader_studies_tests/test_views.py
Owners: @jmsmkn, @amickan

deploy: 9338b134fb2e6c0aca6c7884bc3368dde62cb699
  _modules/grandchallenge/components/models.html
Owners: @jmsmkn

Turn all cost fields into positive integer fields (#2749)
  app/grandchallenge/challenges/forms.py
  app/grandchallenge/challenges/migrations/0026_auto_20230123_1406.py
  app/grandchallenge/challenges/models.py
Owners: @amickan

Handle invalid image widget values
  app/grandchallenge/cases/widgets.py
  app/tests/cases_tests/test_widget.py
Owners: @jmsmkn

Handle invalid image widget values (#2750)
  app/grandchallenge/cases/widgets.py
  app/tests/cases_tests/test_widget.py
Owners: @jmsmkn

Remove active sessions api endpoint
  app/grandchallenge/workstations/serializers.py
  app/grandchallenge/workstations/views.py
  app/tests/workstations_tests/test_api.py
Owners: @jmsmkn

Send message to each active region
  app/config/settings.py
  app/grandchallenge/algorithms/templates/algorithms/job_detail.html
  app/grandchallenge/algorithms/templates/algorithms/job_list.html
  app/grandchallenge/algorithms/templates/algorithms/job_list_row.html
  app/grandchallenge/archives/templates/archives/archive_cases_list.html
  app/grandchallenge/archives/templates/archives/archive_cases_row.html
  app/grandchallenge/archives/templates/archives/archive_items_list.html
  app/grandchallenge/archives/templates/archives/archive_items_row.html
  app/grandchallenge/core/context_processors.py
  app/grandchallenge/reader_studies/templates/reader_studies/display_set_detail.html
  app/grandchallenge/reader_studies/templates/reader_studies/readerstudy_detail.html
  app/grandchallenge/reader_studies/templates/reader_studies/readerstudy_images_list.html
  app/grandchallenge/reader_studies/templates/reader_studies/readerstudy_images_row.html
  app/grandchallenge/reader_studies/templates/reader_studies/readerstudy_progress.html
  app/grandchallenge/reader_studies/templates/reader_studies/readerstudy_statistics.html
  app/grandchallenge/workstations/static/workstations/js/session-control.js
Owners: @jmsmkn, @amickan

Update session control js code to post message and wait for response
  app/grandchallenge/workstations/static/workstations/js/session-control.js
Owners: @jmsmkn

added validation changes so username cannot be email + tests
  app/grandchallenge/profiles/forms.py
  app/tests/profiles_tests/test_views.py
Owners: @jmsmkn

Add Alpha-Version Workstation Session Control (#2743)
  app/grandchallenge/algorithms/templates/algorithms/job_detail.html
  app/grandchallenge/algorithms/templates/algorithms/job_list.html
  app/grandchallenge/algorithms/templates/algorithms/job_list_row.html
  app/grandchallenge/archives/templates/archives/archive_cases_list.html
  app/grandchallenge/archives/templates/archives/archive_cases_row.html
  app/grandchallenge/archives/templates/archives/archive_items_list.html
  app/grandchallenge/archives/templates/archives/archive_items_row.html
  app/grandchallenge/reader_studies/templates/reader_studies/display_set_detail.html
  app/grandchallenge/reader_studies/templates/reader_studies/readerstudy_detail.html
  app/grandchallenge/reader_studies/templates/reader_studies/readerstudy_images_list.html
  app/grandchallenge/reader_studies/templates/reader_studies/readerstudy_images_row.html
  app/grandchallenge/reader_studies/templates/reader_studies/readerstudy_progress.html
  app/grandchallenge/reader_studies/templates/reader_studies/readerstudy_statistics.html
  app/grandchallenge/workstations/static/workstations/js/session-control.js
Owners: @amickan, @jmsmkn

Add playwright
  app/pytest.ini
  app/tests/conftest.py
  app/tests/core_tests/test_playwright.py
  dockerfiles/web-base/Dockerfile
  poetry.lock
  pyproject.toml
Owners: @jmsmkn

Extract getSessionOrigins
  app/grandchallenge/workstations/static/workstations/js/session-control.js
Owners: @jmsmkn

Rework session-control message sending
  app/grandchallenge/workstations/static/workstations/js/session-control.js
Owners: @jmsmkn

Fix session control trying to add a eventlistener
  app/grandchallenge/workstations/static/workstations/js/session-control.js
Owners: @jmsmkn

Fix handling acks
  app/grandchallenge/workstations/static/workstations/js/session-control.js
Owners: @jmsmkn

Get the intended notification
  app/tests/reader_studies_tests/test_views.py
Owners: @jmsmkn

Fix test_add_files_to_display_set (#2753)
  app/tests/reader_studies_tests/test_views.py
Owners: @jmsmkn

Fix updating Questions not working when partially set to read-only
  app/grandchallenge/reader_studies/forms.py
  app/grandchallenge/reader_studies/views.py
Owners: @amickan

Fix updating Questions not working when partially set to read-only (#2754)
  app/grandchallenge/reader_studies/forms.py
  app/grandchallenge/reader_studies/views.py
Owners: @amickan

increased version for isort up to 5.12.0
  .pre-commit-config.yaml
Owners: @jmsmkn

increased version for isort up to 5.12.0 (#2756)
  .pre-commit-config.yaml
Owners: @jmsmkn

removed unused imports
  app/grandchallenge/profiles/forms.py
  app/tests/profiles_tests/test_views.py
Owners: @jmsmkn

changed tests to be pytest like, changed profile to use emailvalidator
  app/grandchallenge/profiles/forms.py
  app/tests/profiles_tests/test_views.py
Owners: @jmsmkn

fixed issue with pre-commit
  app/grandchallenge/profiles/forms.py
  app/tests/profiles_tests/test_views.py
Owners: @jmsmkn

Automated dependency update
  poetry.lock
Owners: @jmsmkn

Add playwright session control test
  app/config/settings.py
  app/grandchallenge/workstations/static/workstations/js/session-control.js
  app/tests/templates/ack_message.html
  app/tests/templates/new_session.html
  app/tests/templates/playwright.html
  app/tests/workstations_tests/test_playwright_session_control.py
  docker-compose.yml
Owners: @jmsmkn

Fix aiohttp dependency
  .github/workflows/dependency-update.yml
  poetry.lock
  pyproject.toml
Owners: @jmsmkn

deploy: 30b37e64d11e9f5d7172a857d7d0c9f02bc46cbe
  _images/plantuml-11561084767c276f43488f940b29c048a0dbedd7.svg
  _images/plantuml-771b081c2e4af1d7f0d1fc5ae821b358d1c1950e.svg
  _images/plantuml-7b5f3246c87d876e5e6ef05ce50099c4bb948cee.svg
  _images/plantuml-b3c9b95134d1f320dd66a90d6c0f8d57f73e5eb9.svg
  _images/plantuml-cc00fb771bfb4b2a006d6c9cdd9a9891c178f9c2.svg
  _plantuml/11/11561084767c276f43488f940b29c048a0dbedd7.svg
  _plantuml/77/771b081c2e4af1d7f0d1fc5ae821b358d1c1950e.svg
  _plantuml/7b/7b5f3246c87d876e5e6ef05ce50099c4bb948cee.svg
  _plantuml/b3/b3c9b95134d1f320dd66a90d6c0f8d57f73e5eb9.svg
  _plantuml/cc/cc00fb771bfb4b2a006d6c9cdd9a9891c178f9c2.svg
Owners: @jmsmkn

moved unsername validation to seperate validator added ACCOUNT_USERNAME_VALIDATORS config to settings.py added tests for validators
  app/config/settings.py
  app/grandchallenge/profiles/forms.py
  app/grandchallenge/profiles/validators.py
  app/tests/profiles_tests/test_validators.py
  app/tests/profiles_tests/test_views.py
Owners: @jmsmkn

removed partial comment
  app/grandchallenge/profiles/validators.py
Owners: @jmsmkn

Fix playwright tests and refactor urlconfs involved
  app/grandchallenge/workstations/static/workstations/js/session-control.js
  app/tests/conftest.py
  app/tests/core_tests/test_playwright.py
  app/tests/playwright_tests/test_results/playwright_traces/trace.zip0.zip
  app/tests/playwright_tests/test_results/playwright_traces/trace.zip0.zip1.zip
  app/tests/playwright_tests/test_results/playwright_traces/trace.zip0.zip1.zip2.zip
  app/tests/settings.py
  app/tests/templates/ack_message.html
  app/tests/templates/new_session.html
  app/tests/templates/playwright.html
  app/tests/urls/__init__.py
  app/tests/urls/rendering_subdomain.py
  app/tests/urls/root.py
  app/tests/utils.py
  app/tests/workstations_tests/test_playwright_session_control.py
  app/tests/workstations_tests/test_session_control.py
Owners: @jmsmkn

rewrote tests with parameterize
  app/tests/profiles_tests/test_validators.py
Owners: @jmsmkn

Validate that usernames are not email addresses (#2752)
  app/config/settings.py
  app/grandchallenge/profiles/validators.py
  app/tests/profiles_tests/test_validators.py
Owners: @jmsmkn

Refactor test set-up
  app/config/settings.py
  app/grandchallenge/workstations/static/workstations/js/session-control.js
  app/tests/playwright_tests/test_results/playwright_traces/trace.zip0.zip
  app/tests/playwright_tests/test_results/playwright_traces/trace.zip0.zip1.zip
  app/tests/playwright_tests/test_results/playwright_traces/trace.zip0.zip1.zip2.zip
  app/tests/settings.py
  app/tests/templates/session_control.html
  app/tests/templates/workstation.html
  app/tests/workstations_tests/test_session_control.py
Owners: @jmsmkn

Update dependency-update.yml
  .github/workflows/dependency-update.yml
Owners: @jmsmkn

Handle switching back to undefined widget type
  app/grandchallenge/cases/templates/cases/flexible_image_widget.html
  app/grandchallenge/cases/views.py
  app/grandchallenge/cases/widgets.py
  app/tests/cases_tests/test_widget.py
Owners: @jmsmkn

Handle switching back to undefined widget type (#2760)
  app/grandchallenge/cases/templates/cases/flexible_image_widget.html
  app/grandchallenge/cases/views.py
  app/grandchallenge/cases/widgets.py
  app/tests/cases_tests/test_widget.py
Owners: @jmsmkn
