Repository comic/grand-challenge.org, changes with the owners that CODEOWNERS names for each.
All owners: @jmsmkn, @HarmvZ, @miriam-groeneveld, @MikeOverkamp-diag

CODEOWNERS:

# The default owners for everything in
# the repo. Unless a later match takes precedence,
# @jmsmkn will be requested for review when someone
# opens a pull request.
*       @jmsmkn

# When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
*.js    @HarmvZ

# Owners of specific Django applications
/app/grandchallenge/algorithms/       @miriam-groeneveld
/app/grandchallenge/api/              @HarmvZ
/app/grandchallenge/challenges/       @jmsmkn
/app/grandchallenge/components/       @miriam-groeneveld
/app/grandchallenge/evaluation/       @jmsmkn
/app/grandchallenge/reader_studies/   @MikeOverkamp-diag
/app/grandchallenge/retina_api/       @HarmvZ
/app/grandchallenge/retina_core/      @HarmvZ
/app/grandchallenge/products/         @MikeOverkamp-diag
/app/grandchallenge/workstations/     @jmsmkn

tests for subscription creation
  app/grandchallenge/notifications/signals.py
  app/tests/notifications_tests/test_views.py
Owners: @jmsmkn

set action_send to False for all follows
  app/grandchallenge/notifications/forms.py
  app/grandchallenge/notifications/views.py
Owners: @jmsmkn

added periodic celery task to send emails about unread notifications
  app/config/settings.py
  app/grandchallenge/notifications/emails.py
  app/grandchallenge/notifications/tasks.py
Owners: @jmsmkn

fixed test
  app/grandchallenge/notifications/emails.py
  app/grandchallenge/notifications/tasks.py
  app/tests/notifications_tests/test_views.py
Owners: @jmsmkn

removed duplicate queries for notification listview
  app/grandchallenge/notifications/utils.py
  app/grandchallenge/notifications/views.py
Owners: @jmsmkn

added notification-email-opt-out, tests for notification emails
  app/config/settings.py
  app/grandchallenge/notifications/emails.py
  app/grandchallenge/notifications/tasks.py
  app/grandchallenge/profiles/forms.py
  app/tests/notifications_tests/test_tasks.py
Owners: @jmsmkn

deleted user subscription stuff
  app/grandchallenge/notifications/templates/notifications/subscription_list.html
  app/grandchallenge/notifications/urls.py
  app/grandchallenge/notifications/views.py
Owners: @jmsmkn

fixed tests after changes to subscription delete view
  app/grandchallenge/forums/templates/forum/forum_detail.html
  app/tests/notifications_tests/test_views.py
Owners: @jmsmkn

added unsubscribe button for topics to subscription list view
  app/grandchallenge/notifications/forms.py
  app/grandchallenge/notifications/signals.py
  app/grandchallenge/notifications/templates/notifications/follow_list.html
  app/grandchallenge/notifications/templates/notifications/subscription_update_form.html
  app/grandchallenge/notifications/urls.py
  app/grandchallenge/notifications/views.py
Owners: @jmsmkn

bulk delete and update options for notification list view, draft version
  app/grandchallenge/notifications/templates/notifications/notification_list.html
  app/grandchallenge/notifications/views.py
  app/tests/notifications_tests/test_views.py
Owners: @jmsmkn

write tests for unsubscribe buttons, remove unsubscribe button from notification view
  app/grandchallenge/notifications/forms.py
  app/grandchallenge/notifications/templates/notifications/notification_list.html
  app/grandchallenge/notifications/views.py
  app/tests/notifications_tests/test_views.py
Owners: @jmsmkn

added select all checkbox to notification list view
  app/grandchallenge/notifications/templates/notifications/notification_list.html
Owners: @jmsmkn

Fixed breadcrumbs and title for algorithm update view (#1867)
  app/grandchallenge/algorithms/templates/algorithms/algorithm_form.html
Owners: @miriam-groeneveld

added challenge logo, subscription and last activity timestamps to subscription view
  app/grandchallenge/challenges/templatetags/__init__.py
  app/grandchallenge/challenges/templatetags/forums.py
  app/grandchallenge/notifications/templates/notifications/subscription_list.html
Owners: @jmsmkn

small fix to notification and subscription list view
  app/grandchallenge/challenges/templatetags/forums.py
  app/grandchallenge/notifications/templates/notifications/notification_list.html
  app/grandchallenge/notifications/templates/notifications/subscription_list.html
Owners: @jmsmkn

commented out alternative notification update related code
  app/grandchallenge/notifications/forms.py
  app/grandchallenge/notifications/templates/notifications/notification_list.html
  app/grandchallenge/notifications/templates/notifications/subscription_list.html
  app/grandchallenge/notifications/urls.py
  app/grandchallenge/notifications/views.py
  app/tests/notifications_tests/test_views.py
Owners: @jmsmkn

added javascript to count number of selected checkboxes on notification list view
  app/grandchallenge/notifications/templates/notifications/notification_list.html
Owners: @jmsmkn

Make answer_image read only
  app/grandchallenge/reader_studies/admin.py
Owners: @MikeOverkamp-diag

refactored custom prefetch code
  app/grandchallenge/notifications/utils.py
Owners: @jmsmkn

Fix super type determination
  app/grandchallenge/components/models.py
  app/tests/components_tests/test_models.py
Owners: @miriam-groeneveld, @jmsmkn

Small cleanup
  app/grandchallenge/components/models.py
Owners: @miriam-groeneveld

added pagination to readerstudy list view
  app/grandchallenge/reader_studies/templates/reader_studies/readerstudy_list.html
  app/grandchallenge/reader_studies/views.py
Owners: @MikeOverkamp-diag

added pagination to algorithm list view
  app/grandchallenge/algorithms/templates/algorithms/algorithm_list.html
  app/grandchallenge/algorithms/views.py
Owners: @miriam-groeneveld

fix list view permissions
  app/grandchallenge/reader_studies/views.py
Owners: @MikeOverkamp-diag

added permission checks to notification list view + tests
  app/grandchallenge/notifications/views.py
  app/tests/notifications_tests/test_views.py
Owners: @jmsmkn

Added pagination to readerstudy list view (#1870)
  app/grandchallenge/reader_studies/templates/reader_studies/readerstudy_list.html
  app/grandchallenge/reader_studies/views.py
Owners: @MikeOverkamp-diag

added LoginRequiredMixin to list view
  app/grandchallenge/notifications/views.py
  app/tests/notifications_tests/test_views.py
Owners: @jmsmkn

added pagination to algorithm list view
  app/grandchallenge/algorithms/views.py
Owners: @miriam-groeneveld

fixed error in pagination queryset
  app/grandchallenge/reader_studies/views.py
  app/tests/reader_studies_tests/test_views.py
Owners: @MikeOverkamp-diag, @jmsmkn

added PaginatedListView mixin
  app/grandchallenge/algorithms/views.py
  app/grandchallenge/core/views.py
Owners: @miriam-groeneveld, @jmsmkn

Fix super type determination (#1869)
  app/grandchallenge/components/models.py
  app/tests/components_tests/test_models.py
Owners: @miriam-groeneveld, @jmsmkn

deploy: 115532e437fec17a9bcf81fa1977c9686eff0428
  _modules/grandchallenge/components/models.html
  components.html
  genindex.html
  objects.inv
  searchindex.js
Owners: @jmsmkn, @HarmvZ

added tag model to blogs
  app/grandchallenge/blogs/admin.py
  app/grandchallenge/blogs/migrations/0004_auto_20210611_0803.py
  app/grandchallenge/blogs/models.py
Owners: @jmsmkn

added tags to post detail, added tag list view
  app/grandchallenge/blogs/templates/blogs/post_detail.html
  app/grandchallenge/blogs/urls.py
  app/grandchallenge/blogs/views.py
Owners: @jmsmkn

merge, and added pagination partial
  app/grandchallenge/algorithms/templates/algorithms/algorithm_list.html
  app/grandchallenge/algorithms/views.py
  app/grandchallenge/core/templates/grandchallenge/partials/pagination.html
  app/grandchallenge/core/views.py
  app/grandchallenge/reader_studies/templates/reader_studies/readerstudy_list.html
  app/grandchallenge/reader_studies/views.py
  app/tests/reader_studies_tests/test_views.py
Owners: @miriam-groeneveld, @jmsmkn, @MikeOverkamp-diag

merge, and added pagination partial
  app/grandchallenge/reader_studies/templates/reader_studies/readerstudy_list.html
Owners: @MikeOverkamp-diag

added pagination to archives
  app/grandchallenge/archives/templates/archives/archive_list.html
  app/grandchallenge/archives/views.py
Owners: @jmsmkn

added filter to listview, and tags to detail view
  app/grandchallenge/blogs/filters.py
  app/grandchallenge/blogs/templates/blogs/post_detail.html
  app/grandchallenge/blogs/templates/blogs/post_list.html
  app/grandchallenge/blogs/urls.py
  app/grandchallenge/blogs/views.py
Owners: @jmsmkn

Added pagination to algorithms, archives and readerstudies list view (#1872)
  app/grandchallenge/algorithms/templates/algorithms/algorithm_list.html
  app/grandchallenge/algorithms/views.py
  app/grandchallenge/archives/templates/archives/archive_list.html
  app/grandchallenge/archives/views.py
  app/grandchallenge/core/templates/grandchallenge/partials/pagination.html
  app/grandchallenge/reader_studies/templates/reader_studies/readerstudy_list.html
  app/grandchallenge/reader_studies/views.py
  app/tests/reader_studies_tests/test_views.py
Owners: @miriam-groeneveld, @jmsmkn, @MikeOverkamp-diag

add citing info and company explainer
  app/grandchallenge/products/templates/products/about.html
  app/grandchallenge/products/templates/products/company_list.html
Owners: @MikeOverkamp-diag
