Repository comic/grand-challenge.org, changes with the owners that CODEOWNERS names for each.
All owners: @jmsmkn, @HarmvZ, @amickan

CODEOWNERS:

# The default owners for everything in
# the repo. Unless a later match takes precedence,
# @jmsmkn will be requested for review when someone
# opens a pull request.
*       @jmsmkn

# When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
*.js    @HarmvZ

# Owners of specific Django applications
/app/grandchallenge/algorithms/       @amickan
/app/grandchallenge/api/              @HarmvZ
/app/grandchallenge/challenges/       @amickan
/app/grandchallenge/components/       @jmsmkn
/app/grandchallenge/evaluation/       @amickan
/app/grandchallenge/reader_studies/   @amickan
/app/grandchallenge/retina_api/       @HarmvZ
/app/grandchallenge/products/         @jmsmkn
/app/grandchallenge/workstations/     @jmsmkn

Fix other test
  app/tests/workstations_tests/test_templatetags.py
Owners: @jmsmkn

Add cross-origin communication with workstations (#2765)
  app/config/settings.py
  app/grandchallenge/algorithms/templates/algorithms/job_detail.html
  app/grandchallenge/algorithms/templates/algorithms/job_list.html
  app/grandchallenge/algorithms/templates/algorithms/job_list_row.html
  app/grandchallenge/archives/templates/archives/archive_cases_list.html
  app/grandchallenge/archives/templates/archives/archive_cases_row.html
  app/grandchallenge/archives/templates/archives/archive_items_list.html
  app/grandchallenge/archives/templates/archives/archive_items_row.html
  app/grandchallenge/cases/templates/cases/rawimageuploadsession_detail.html
  app/grandchallenge/cases/views.py
  app/grandchallenge/core/context_processors.py
  app/grandchallenge/reader_studies/models.py
  app/grandchallenge/reader_studies/templates/reader_studies/display_set_detail.html
  app/grandchallenge/reader_studies/templates/reader_studies/readerstudy_detail.html
  app/grandchallenge/reader_studies/templates/reader_studies/readerstudy_images_list.html
  app/grandchallenge/reader_studies/templates/reader_studies/readerstudy_images_row.html
  app/grandchallenge/reader_studies/templates/reader_studies/readerstudy_progress.html
  app/grandchallenge/reader_studies/templates/reader_studies/readerstudy_statistics.html
  app/grandchallenge/workstations/static/workstations/js/session-control.mjs
  app/grandchallenge/workstations/templates/workstations/partials/session-control.html
  app/grandchallenge/workstations/templatetags/workstations.py
  app/pytest.ini
  app/tests/conftest.py
  app/tests/settings.py
  app/tests/subdomain_tests/test_middleware.py
  app/tests/templates/new_session.html
  app/tests/templates/session_control.html
  app/tests/templates/workstation.html
  app/tests/templates/workstation_button.html
  app/tests/urls/__init__.py
  app/tests/urls/root.py
  app/tests/workstations_tests/test_session_control.py
  app/tests/workstations_tests/test_templatetags.py
  dockerfiles/web-base/Dockerfile
  poetry.lock
  pyproject.toml
Owners: @jmsmkn, @amickan

deploy: fd32bc360bc60aa99348efce3a343c39ab6e9017
  .buildinfo
  _modules/django/utils/functional.html
  _modules/grandchallenge/components/models.html
  _modules/grandchallenge/evaluation/models.html
  _modules/grandchallenge/evaluation/templatetags/evaluation_extras.html
  _modules/grandchallenge/reader_studies/models.html
  _modules/grandchallenge/workstations/models.html
  _modules/index.html
  _modules/simple_history/models.html
  _static/_sphinx_javascript_frameworks_compat.js
  _static/basic.css
  _static/css/theme.css
  _static/doctools.js
  _static/jquery-3.6.0.js
  _static/jquery.js
  _static/language_data.js
  _static/searchtools.js
  _static/underscore-1.13.1.js
  _static/underscore.js
  algorithms.html
  architecture.html
  components.html
  design.html
  development.html
  evaluation.html
  genindex.html
  index.html
  py-modindex.html
  reader-studies.html
  search.html
  workstations.html
Owners: @jmsmkn, @HarmvZ

Fix non-homologous-origin session window always resulting in fallback session creation
  app/grandchallenge/workstations/static/workstations/js/session-control.mjs
Owners: @jmsmkn

Minor comments formatting
  app/grandchallenge/workstations/static/workstations/js/session-control.mjs
Owners: @jmsmkn
